body {
background-color:#CDCE00;
font-family:Verdana;
}
                
.header
{
height: 80px;
width: 850px;
margin: 0 auto;  

}


.logo{
    margin-top: 18px;
    height: 20px;
    width: 200px;
    float: left;
}
.titulo
{
    width: 800px;
    height: 20px;
    margin: 15px auto;
}

.titulo h1
{
width: 300px;
height: 40px;
margin: 0 auto;
color: #fff;
font-family: 'letra';
font-size: 25px;

}

.menu{
    margin: -13px auto; 
    height: 64px;
    width: 350px;
    float: left;
    padding-left: 130px; 

}
.menu ul
{
    margin: 0 auto;
    height: 64px;
    width: 444px;
}
.menu ul li
{
    float: left;
    height: 64px;
    margin: 0px 5px 0px 5px;
    width: 64px;
     
}
.menuSprites
{
    background-image: url('img/menu32.png');
    margin: 32px auto;
    height: 32px;
    width: 32px;
    opacity: 0.5;
   
}
.menuSprites:hover
{
    background-image: url('img/menu64.png');
    margin: 0 auto;
    height: 64px;
    width: 64px;
    opacity: 0.9;
}
.menuSpritesPreguntas
{
    background-image: url('img/menu32.png');
    background-position: -32.16px 0px;
    margin: 32px auto;
    height: 32px;
    width: 32px;
    opacity: 0.5;
}
.menuSpritesPreguntas:hover
{
    background-image: url('img/menu64.png');
    background-position: -64.33px 0px;
    height: 64px;
    margin: 0 auto;
    width: 64px;
    opacity: 0.9;
}
.menuSpritesCatalogo
{
    background-image: url('img/menu32.png');
    background-position: -64.33px 0px;
    margin: 32px auto;
    height: 32px;
    width: 32px;
    opacity: 0.5;
}
.menuSpritesCatalogo:hover
{
    background-image: url('img/menu64.png');
    background-position: -128.66px 0px;
    height: 64px;
    margin: 0 auto;
    width: 64px;
    opacity: 0.9;
}
.menuSpritesContacto
{
    background-image: url('img/menu32.png');
    background-position: -96.49px 0px;
    margin: 32px auto;
    height: 32px;
    width: 32px;
    opacity: 0.5;
}
.menuSpritesContacto:hover
{
    background-image: url('img/menu64.png');
    background-position: -192.99px 0px;
    height: 64px;
    margin: 0 auto;
    width: 64px;
    opacity: 0.9;
}
.menuSpritesFacebook
{
    background-image: url('img/menu32.png');
    background-position: -128.45px 0px;
    margin: 32px auto;
    height: 32px;
    width: 32px;
    opacity: 0.5;
}
.menuSpritesFacebook:hover
{
    background-image: url('img/menu64.png');
    background-position: -257.32px 0px;
    height: 64px;
    margin: 0 auto;
    width: 64px;
    opacity: 0.9;
}
.menuSpritesPinterest
{
    background-image: url('img/menu32.png');
    background-position: -160.81px 0px;
    margin: 32px auto;
    height: 32px;
    width: 32px;
    opacity: 0.5;
}
.menuSpritesPinterest:hover
{
    background-image: url('img/menu64.png');
    background-position: -321.65px 0px;
    height: 64px;
    margin: 0 auto;
    width: 64px;
    opacity: 0.9;
}



		.flex {
                    position:relative;
                    width:850px;
                    min-height:300px;
                    margin:0 auto;
                    border:0px solid #0083A5;
                    margin-top:30px;
                }
		.flex a {
                    display:block;
                    width:100px;
                    height:100px;
                    border-radius:8px;
                    position:absolute;
                    background-repeat:no-repeat;
                    background-position:center;
                    border:3px solid #0083A5;
                    cursor:pointer;
                    }
                
                .textos{
                    width: auto;
                    height: 21px;
                    text-align:center;
                    text-shadow:1px 1px 20px #000;
                    color:#CDCE00;
                    font-size:18px;
                    font-weight:bold;
                    
                    text-decoration:none;
                    background-color:#0083A5;
                }
                    
 /*
 INICIA PALETA
 
  */
  
  
  .paleta{
    
      width: 50px;
      height: 50px;
      float: right;
      margin-right: 150px;
      margin-top: 64px;
      z-index: 10;
      position: relative;
      
          
  }
  
  .boton {
	background-color:transparent;
	-moz-border-radius:13px;
	-webkit-border-radius:13px;
	border-radius:13px;
	border:1px solid #7e807c;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:2px 11px;
	text-decoration:none;
	text-shadow:1px 1px 3px #528009;
        
        
}.boton:active {
	position:relative;
	top:1px;
}
  
  .cajaTodoColores
{
	
        float: left;
	width: 188px;
	height: 413px;
        background-color: white;
        
}
.paleta span
{
    display: none;
   
    
}
.blanco
{
	float: left;
	width: 40px;
	padding: 10px 0px 0px 0px;
	height: 40px;
	background: #FFF;
	border: 1px solid #000;
	margin: 5px 0px 0px 5px;
        
}
.dorado
{
	float: left;
	width: 40px;
	height: 40px;
	margin: 5px 0px 0px 5px;
	background: #E1A403;
        border: 1px solid #000;
}
.amarilloClaro
{
	float: left;
	width: 40px;
	height: 40px;
	background: #ECDD16;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
}
.amarilloBrims
{
	float: left;
	width: 40px;
	height: 40px;
	background: #F2E823;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
}
.burgundy
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #551412;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .rojoFuerte
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #892015;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 
 .rojoClaro
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #BC3824;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .naranja
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #D24b18;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .naranjaPastel
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #F6871D;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .purpura
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #4A247B;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .violeta
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #900A6F;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .magenta
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #D5027E;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .rosa
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #EE78BE;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .azulFuerte
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #070E47;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .azulBrillante
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #002A9B;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .azulCielo
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #1A78Bc;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .azulIce
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #509CCA;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .turquesa
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #0B7a70;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .mint
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #92D5CC;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .verdeFluoresente
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #043920;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .verde
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #005322;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .verdeClaro
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #016F20;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .verdeLimon
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #7DA848;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .chocolate
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #342013;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .ginger
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #A35011;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .beige
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #C2B392;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .crema
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #E1D092;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .oroImitacion
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #CD8B18;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .negro
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #000000;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .greyFuerte
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #393D40;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .grey
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #636F6B;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .greyClaro
 {
 	float: left;
	width: 40px;
	height: 40px;
	padding: 10px 0px 0px 0px;
	background: #AAA1AE;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .oroMetalico
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #78611E;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .cooperMetalico
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #733D23;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
 .plataMetalico
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #7C7E76;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
 }
.esmerilado
 {
 	float: left;
	width: 40px;
	height: 40px;
	background: #CDD4D3;
	margin: 5px 0px 0px 5px;
        border: 1px solid #000;
}